body{
    margin: 0;
    padding: 0;
    background-size: cover;
}

.speedselect{
    position: absolute;
    width: 700px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(32, 144, 209, 0.452);
}

.button1{
    color : rgb(0, 0, 0);
    background-color: rgb(1, 255, 1);
}

.button2{
    color : rgb(0, 0, 0);
    background-color: rgb(122, 253, 0);
}

.button3{
    color : rgb(0, 0, 0);
    background-color: rgb(217, 255, 1);
}

.button4{
    color : rgb(0, 0, 0);
    background-color: rgb(255, 136, 1);
}

.button5{
    color : rgb(0, 0, 0);
    background-color: rgb(255, 1, 1);
}